<div class="title">
  <h2>Overview</h2>
</div>
<div class="overview">
  <app-order-step1 [compact]="true"></app-order-step1>
  <div class="delivery-information">
    <h4>Delivery Infos</h4>
    <div class="infos">
      <div class="keys">
        <p class="key">Firstname: </p>
        <p class="key">Lastname: </p>
        <p class="key">Address: </p>
        <p class="key">ZIP: </p>
        <p class="key">City: </p>
        <p class="key">Phone: </p>
      </div>
      <div class="values">
        <p class="value">{{orderInfos?.firstname}}</p>
        <p class="value">{{orderInfos?.lastname}}</p>
        <p class="value">{{orderInfos?.streetNumber}}</p>
        <p class="value">{{orderInfos?.zip}}</p>
        <p class="value">{{orderInfos?.city}}</p>
        <p class="value">{{orderInfos?.phone}}</p>
      </div>
    </div>
  </div>
  <div class="eta">
    <h4>Estimated Delivery Time: 60min</h4>
  </div>
  <div class="order-button">
    <div class="buttons">
      <button class="back" (click)="goBack()">Back</button>
      <button class="order" (click)="order()">Order</button>
    </div>
  </div>
</div>
