<div class="header">
  <div class="logo" routerLink="menu">
    <img src="assets/logo.svg" alt="Logo">
  </div>
  <div class="menu">
    <h5 class="menu-item" routerLink="menu">Menu</h5>
    <h5 class="menu-item" routerLink="contact">Contact</h5>
    <h5 class="menu-item" routerLink="impressum">Impressum</h5>
    <div class="menu-item basket-wrapper" (click)="navigateToOrder()">
      <img class="basket" src="assets/basket-icon.png" alt="Basket">
      <div class="amount" *ngIf="hasItemsInOrder()">
        <p>{{getOrderItemAmount()}}</p>
      </div>
    </div>
  </div>
</div>
