<div class="order">
  <div class="empty-order" *ngIf="isOrderEmpty()">
    <div class="title">
      <h4>Oops, seems like you haven't ordered anything yet</h4>
      <h5 class="go-to-menu" routerLink="/menu">Have a look at our Menu</h5>
    </div>
  </div>
  <div class="order-content" *ngIf="!isOrderEmpty()">
    <app-order-step1 class="order-step" *ngIf="step === 1" (next)="nextStep()"></app-order-step1>
    <app-order-step2 class="order-step" *ngIf="step === 2" (next)="nextStep()" (back)="goBack()"></app-order-step2>
    <app-order-step3 class="order-step" *ngIf="step === 3" (order)="order()" (back)="goBack()"></app-order-step3>
  </div>
</div>
