<div class="menu">
  <div class="title">
    <h1>Our Menu</h1>
  </div>
  <div class="bestsellers">
    <h4>Bestsellers</h4>
    <div class="content">
      <app-menu-item *ngFor="let item of mostPopular" [menuItem]="item"></app-menu-item>
    </div>
  </div>
<div class="menu-content-wrapper">
  <div class="regular-title">
    <h4>Regular Menu</h4>
  </div>
  <div class="menu-content">
    <app-menu-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem"></app-menu-item>
  </div>
</div>
</div>
