<div class="impressum">
  <div class="title">
    <h2>© Antonio's Pizza GmbH</h2>
  </div>
  <div class="wrapper">
    <div class="content">
      <h3>Name and address</h3>
      <h5>Noah Buchs, Leonie Roth, Julia Stadler, Dawid Kapka</h5>
      <h5>Kottenmatte 4</h5>
      <h5>6210 Sursee</h5>
      <h5>Switzerland</h5>
    </div>
  </div>
  <div class="wrapper">
    <div class="content">
      <h3>Contact</h3>
      <h5>Phone: +41 79 999 99 99</h5>
      <h5>E-Mail: noah_buchs@sluz.ch</h5>
    </div>
  </div>
  <div class="wrapper">
    <div class="content">
      <h3>Represented By</h3>
      <h5>Noah Buchs, Leonie Roth, Julia Stadler, Dawid Kapka</h5>
      <h5>Kottenmatte 4, 6210 Sursee</h5>
      <h5>Switzerland</h5>
    </div>
  </div>
  <div class="wrapper">
    <div class="content copyright">
      <h5>The content and works created by the operator on this website are subject to Swiss copyright law. Reproduction, editing, distribution, and any kind of exploitation beyond the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use.</h5>
    </div>
  </div>
</div>
