@import "src/styles/colors.scss";

.not-found {
  min-height: 512px;
  width: 100%;
  background: $color-black-dark;
  display: flex;
  align-items: center;

  .not-found-wrapper {
    width: 100%;
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 32px 0;
  }

  .home {
    width: 100%;
    text-align: center;
    color: $color-pink;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $color-pink-active;
    }
  }
}
