<div class="menu-item">
  <div class="title">
    <h5>{{menuItem!.name}}</h5>
  </div>
  <div class="image">
    <img src="{{menuItem!.image ?? 'assets/pizza_default.jpg'}}" alt="Pizza">
  </div>
  <div class="options">
    <div class="sizes">
      <div class="sizes-switch">
        <div class="size-small" (click)="setSelectedSize('small')" [ngClass]="{'selected': selectedSize === 'small'}">32cm</div>
        <div class="size-big" (click)="setSelectedSize('large')" [ngClass]="{'selected': selectedSize === 'large'}">40cm</div>
      </div>
    </div>
    <div class="prize">
      <div class="add" (click)="addToOrder()">
        <p>{{selectedSize === 'small' ? formatPrice(menuItem!.price.small) : formatPrice(menuItem!.price.large)}} CHF</p>
      </div>
    </div>
  </div>
</div>
